.Tabela {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.Jan {
    font-size: 40px;
    background-color: #006400;
    color: white;
}

th {
    background-color: #daf7da;
    padding: 20px;
}

.Total {
    display: flex;
    flex-direction: row;
}

.Escrita {
    flex-direction: column;
    font-size: 18px;
    margin: 5px;
    justify-content: 10px;
    padding: 1px;
}

.Logo {
    margin-left: 575px;
}
